/* Reset style */
*{padding: 0;margin: 0;border: 0;font-family: Arial, Helvetica, sans-serif;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
.wrapper {min-height: 100%;overflow: hidden;}
.container {max-width: 1180px;margin: 0px auto;}
/*=======================*/
* {
    color: #fff;
}
html,body {
    background: #333 !important;
}
.content__info {
    background: #1abc9c;
    padding: 10px 20px;
}
.content__info p {
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0;
} 
.content__title {
    font-size: 42px;
    line-height: 50px;
}
.content__galery {
    background: #2ecc71;
    padding: 10px 20px;
}
.content__galery__body {
    display: flex;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 10px !important;
}
img {
    margin: 5px;
    background: url('/img/lazy_load.gif');
    background-repeat: no-repeat;
    background-size: 30px;
    background-attachment: local;
    background-position: center center;
}
.content__maps {
    background: #3498db;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    background: url('/img/lazy_load.gif');
    background-repeat: no-repeat;
    background-size: 30px;
    background-attachment: local;
    background-position: center center;
    min-height: 400px;
}
.content__maps iframe {
    width: 1000px;
}
._loading-icon {
    background: url('/img/lazy_load.gif');
    background-repeat: no-repeat;
    background-size: 30px;
    background-attachment: local;
    background-position: 100% 100%;
    width: 50px;
    height: 50px;
    margin: 0 auto 30px auto;
}